:root{
  --bgcolour: #EEE;
  --bgcolour-tool: #DDD;
  --bgcolour-tool-hover: #EEA;
  --bgcolour-bottom-bar: #F8F8F8;
  
  --text-colour-tool: #444;
  --text-colour-bar: #888;
  --text-colour-supporter: #363;
  --text-colour-warning: #f00;
  
  --border-colour-tool: #D8D8D8;
  --border-colour-tool-hover: #E0E0A0;
  --border-colour-bar-top: #DDD;
  
  --tab-list-highlight-background: rgba(255, 235, 59, 0.5);
  --tab-list-suspended-background: rgba(155, 155, 255, 0.1);
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  line-height: 1.5em;
  background-color: var(--bgcolour);
  border: 0px;
  min-width: 512px;
  min-height: 580px;
}

#closeDuplicatesWarning{
  display: inline-block;
  font-family: monospace;
  font-size: 11px;
  color: var(--text-colour-warning);
  line-height: 1.2em;
  padding-left: 1em;
  padding-right: 0.5em;
}


#donateDiv{
  text-align: center;
  padding-bottom: 1em;
}

.support{
  display: inline-block;
}

.supporter{
  font-size: smaller;
  color: var(--text-colour-supporter);
}

.mdl-demo .mdl-layout__tab-bar-button {
  display: none;
}

.mdl-demo .mdl-layout__tab-bar-container {
  height: 64px;
}
.mdl-demo .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}
.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  /*padding-top: 48px;*/
}
.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-demo .mdl-card > * {
  height: auto;
}

.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}


#headerTabs {
  justify-content: center;
}

#resultsCard,
#tabSearchForm,
.toolsCards {
  min-height: 0;
}

.tab_url,
.tab_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.tab_description{
  max-width: calc(100% - 24px - 16px);
}

#tabSearchField{
  width: 100%;
}

#closeDuplicatesWarning{
  display: inline-block;
  font-family: monospace;
  font-size: x-small;
  color: var(--text-colour-warning);
  line-height: 1.2em;
  padding-left: 1em;
  padding-right: 0.5em;
}

.mdl-button.tools{
  width: 100%;
  text-align: left
}

.tab_icon{
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 10%;
}

li.highlighted{
  background-color: var(--tab-list-highlight-background);
}

.suspended{
  background-color: var(--tab-list-suspended-background);
}



/**************************/
/**                      **/
/**                      **/
/**    Modal Common      **/
/**                      **/
/**                      **/
/**************************/


.modalOuter{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
}

  .modalInner{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: #222 none repeat scroll 0;
    opacity: 0.85;
    z-index: 3;
    color: white;
    border-radius: 10px;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-filter: contrast(120%);
    filter: contrast(120%);
  }
  

/**************************/
/**                      **/
/**                      **/
/**     Help Modal       **/
/**                      **/
/**                      **/
/**************************/


#helpModal{
  z-index: 10000000;
}

#helpDiv{
  width: 92%;
}

  #helpDivContents{
    padding:1em;
  }

  .helpDivTitle{
    display:inline-block;
    width:100%;
    font-size: medium;
    font-weight: bold;
    border-bottom:1px solid #808080;
    padding-bottom:0.8ex;
  }

  .helpDivTitle:not(:first-of-type){
    padding-top:1em;
  }

  .helpSectionDiv
  {
    text-align: center;
    width:100%;
    border-collapse: collapse;
    font-size: 90%;
  }

  .shortcutKey{
    text-align:right;
    white-space: nowrap;
    padding-right: 0.3em;
    width:25%;
    vertical-align: top;
    padding-top: 0.15em;
  }

    .shortcutKeySymbol{
      font-family: "courier new",monospace;
      color: #dd0;
      font-weight: bold;
    }

    .shortcutKeySeparator{
    }

  .shortcutDetail{
    text-align: left;
    color: white;
    padding-left: 0.4em;
    vertical-align: top;
    padding-top: 0.15em;
  }

  .cf:first-of-type td{
    padding-top: 0.8em;
  }

.keyboardAlphabet{
  text-decoration: underline;
}


.helpDivColon{
  vertical-align:text-top;
}
  
  
