# Namespace
snippet ns
	using namespace ${1:std};
# Class
snippet cl
	class ${1:`Filename('$1', 'name')`} {
	public:
		$1 (${2:arguments});

	};
# Function 
snippet func 
	${3:void} ${1:functionName}(${2:arguments}){
		${4: /* data */}
	};

# Comment section
snippet cs
	/////////////////////////////////////////////////
	// 		${1:Comment}
	/////////////////////////////////////////////////
	${2}
