.clearfix {
  overflow: auto;
  zoom: 1;
}
.hidden {
  display: none !important;
}
body.kb-knappen {
  color: #333;
  background: #f2f2f2;
  font-family: Nunito, 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 30px;
  min-height: 500px;
  width: 395px;
  overflow: hidden;
}
body.kb-knappen nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body.kb-knappen nav ul li {
  color: #888;
  background-color: #fff;
  border-bottom: 2px #ddd solid;
  padding: 5px 0;
  text-align: center;
  display: inline-block;
  float: left;
  width: 50%;
}
body.kb-knappen nav ul li:hover {
  cursor: pointer;
  color: #333;
}
body.kb-knappen nav ul li.active {
  color: #333;
  border-color: #f07818;
  box-sizing: border-box;
}
body.kb-knappen section {
  padding: 0 10px;
  overflow-y: scroll;
  height: 420px;
}
body.kb-knappen section .searchform {
  margin: 10px 0 15px;
}
body.kb-knappen section .searchform .search {
  padding: 6px 6px 6px 30px;
  width: 236px;
  border: 1px #ccc solid;
  border-radius: 2px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 20px;
}
body.kb-knappen section .searchform input[type=text] {
  color: #222;
  background-image: url('../img/search.svg');
}
body.kb-knappen section .searchform input[type=button],
body.kb-knappen section .searchform input[type=button]:hover {
  padding: 6px 0;
  width: 75px;
  border: 1px solid #4e4e4e;
  border-radius: 2px;
  background-color: #4e4e4e;
  color: #fff;
  cursor: pointer;
}
.alert {
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 20px;
  padding: 10px 0 10px 35px;
  color: #fff;
}
.alert.activated {
  background-image: url('../img/check.svg');
  background-color: #5cb85c;
}
.alert .partner {
  font-weight: bold;
}
#merchants .merchant {
  width: 172px;
  padding: 5px 5px 8px;
  float: left;
  text-align: center;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px #ccc solid;
  box-sizing: border-box;
}
#merchants .merchant:hover {
  cursor: pointer;
}
#merchants .merchant:nth-child(2n) {
  margin-left: 10px;
}
#merchants .merchant .merchant-logo {
  width: 140px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px auto 10px;
}
#merchants .merchant .name,
#merchants .merchant .points {
  display: block;
  font-size: 12px;
}
#merchants .merchant .name {
  color: #222;
  font-weight: bold;
}
#merchants .merchant .points {
  color: #f07818;
}
#merchants .merchant .description {
  font-weight: 300;
}
.kb-knappen #offers .offer {
  width: 354px;
  padding: 10px;
  float: left;
  text-align: left;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px #ccc solid;
  box-sizing: border-box;
}
.kb-knappen #offers .offer .merchant-logo {
  width: 130px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  float: left;
}
.kb-knappen #offers .offer .left {
  float: left;
  width: 100%;
}
.kb-knappen #offers .offer .btn {
  width: 195px;
  float: right;
  color: #fff;
  background-color: #83b653;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  background-image: url('../img/arrow.svg');
  border-color: #83b653;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 7px;
  padding: 7px 10px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
}
.kb-knappen #offers .offer .btn:hover {
  background-color: #6a9640;
}
.kb-knappen #offers .offer .description {
  border-top: 1px #eee solid;
  padding-top: 5px;
  margin-top: 5px;
  font-size: 13px;
  clear: both;
  line-height: 18px;
}
.kb-knappen #offers .offer .name {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
.kb-knappen #offers .offer .points {
  color: #f07818;
  clear: right;
  margin-bottom: 3px;
}
.kb-knappen header {
  background: #f07818;
  color: #fff;
  padding: 10px 0;
}
.kb-knappen header .logo {
  float: left;
  height: 32px;
  margin: 5px 10px 0;
}
.kb-knappen header a {
  display: block;
  outline: none;
}
.kb-knappen header #user {
  float: right;
  width: 230px;
  font-size: 12px;
  text-align: center;
  font-weight: 100;
}
.kb-knappen header #user .registered-points,
.kb-knappen header #user .approved-points {
  float: left;
  width: 50%;
}
.kb-knappen header #user .points {
  font-weight: bold;
  font-size: 20px;
  display: block;
}
.kb-knappen footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px #ccc solid;
}
.kb-knappen footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.kb-knappen footer ul li {
  float: left;
  width: 33.33%;
  text-align: center;
}
.kb-knappen footer ul li:nth-child(2) {
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  box-sizing: border-box;
}
.kb-knappen footer ul li a {
  display: block;
  background-color: #fff;
  text-decoration: none;
  color: #777;
  font-size: 12px;
  padding: 5px 0;
}
